body {
    background-color: #0096FF;
}

.buttform{
    margin-left: 60%;
    border-radius: 10%;
    margin: 1%;
    margin-left: 75%;
    height: 50px;
    width: 200px;
    color: white;
    background-color: red;
    text-align: center;
}

.textbutt{
    font-size: large;
    text-align: center;
    margin-bottom: 50%;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30;
}

.card {
    position: relative;
    background: #ffff;
    max-width: 325px;
    width: 325px;
    height: auto;
    margin: 25px;
    box-shadow: 0 5px rgb(111 /20%);
    border-radius: 10px;
    overflow: hidden;
}

.card-image {
    max-height: 200px;
}

.card-image img {
    max-width: 100%;
    height: auto;
}

.card-info {
    position: relative;
    color: #222;
    padding: 10px 20px 20px;
}

.card-info h3 {
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 5px;
}

.card-info p {
    font-size: 1em;
    margin-bottom: 5px;
}