body {
    /* background-image:url(../BACKGROUNDS/BACKGROUND01.png); */
    background-size: 100%;
    display:block;
}

.buttform{
    /* margin-right: 5%;
    border-radius: 10%;
    margin: 1%;
    margin-left: 75%;
    height: 50px;
    width: 200px;
    color: white;
    background-color: red;
    text-align: center; */
    display: none;
}

.textbutt{
    font-size: large;
    text-align: auto;
    margin-bottom: 50%;
}

/* .container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0096FF; 
    border: solid; 
    border-radius: 5%;
   
} */
.contenedor-externo{
    background-color: whitesmoke; 
    padding: 5%; 
    margin:0px 7% 0px 7%;
    border-radius: 10px;
    border: solid thin;
}


.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30;
}

.card {
    position: relative;
    background: #ffff;
    max-width: 325px;
    width: 325px;
    height: auto;
    margin: 25px;
    box-shadow: 0 5px rgb(111 /20%);
    border-radius: 10px;
    overflow: hidden;
}


.card-image img {
    max-width: 100%;
    height: auto;
}

.card-info {
    position: relative;
    color: #222;
    padding: 10px 20px 20px;
}

.card-info h3 {
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 5px;
    
}

.card-info p {
    font-size: 1em;
    margin-bottom: 5px;
}

.bi-cart4{
    cursor: pointer;
    background-color: #0096FF;
    padding: 3%;
    border-radius: 20px;
    border:solid thin;

}
.bi-cart4:hover{
    color: white;
}

.carritoModal{
    display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}
.headerModal{
    background-color: #0096FF;
    color: white;
    box-shadow:  5px;
    padding: 15px;
}
.footerModal{
    background-color: #0096FF;
    color: white;
    box-shadow:5px;
    padding: 15px;
}
.footerModal h3{
    margin-top: 13px;
    margin-bottom: 15px;
    text-shadow: 0 0 8px black;
}
.headerModal h2{
    margin-top: 13px;
    text-shadow: 0 0 8px black;
    
}
.bodyModal{
    padding: 4% 6%;
}

.contenedor-int{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    align-items: space-between;
}
.contenidoModalCarrito{
    background-color: #f4f4f4;
    margin: 10% 1% 5% 48%;
    /* margin:20% auto; */
    width: 35%;
    /* height: 80%; */
    /* text-align: right; */
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name:abrirModal;
    animation-duration: 1s;
}
.btnCerrarModal{
    color: red;
    float: right;
    font-size: 40px;
}
.btnCerrarModal:hover,.btnCerrarModal:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.bi-plus-circle-fill{
    font-size: xx-large;
    border: solid thin;
    padding: 3%;
    background-color: #0096FF;
    border-radius: 20px;
}
.bi-plus-circle-fill:hover{
    color: white;
}
#user {
    display: block;
}

@keyframes abrirModal {
    from{opacity: 0;}
    to{opacity: 1;}
}
@media (max-width:991px){
    .buttform{
        margin-left: 85%;
        width: auto;
    }
    .textbutt{
        font-size: small;
    }
}
@media (max-width:780px){
    .contenidoModalCarrito{
        margin: 10%;
        width: auto;
    }
    .contenedor-int{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
}
@media (max-width:515px){
    .buttform{
        margin-left: 80%;
    }
    .textbutt{
        font-size: small;
    }
    .headerModal h2{
        font-size: large;
    }
    .footerModal h3{
        font-size: large;
    }
    .bodyModal{
        font-size: small;
    }
    .contenedor-int{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
    
}

@media (max-width:400px){
    .buttform{
        margin-left: 75%;
    }
    .textbutt{
        font-size: small;
    }
}
@media (max-width:315px){
    .buttform{
        margin-left: 70%;
    }
    .textbutt{
        font-size: small;
    }
}
@media (max-width:270px){
    .buttform{
        margin-left: 45%;
    }
    .textbutt{
        font-size: smaller;
    }
}

