body {
    background-color: #0096FF;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: fit-content;
}

.container {
    background-color: #0096FF;
    margin: 20px;
    padding: 8rem;
    border-radius: 20px;
    border: solid thin;
    box-shadow: -25px 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.btn {
    border-radius: 10px;
    justify-content: flex-end;
    margin-left: 40%;
    margin-top: 15px;
    width: 200px;
    color: white;
    box-shadow: -5px 5px;
    border-bottom: 3px solid rgb(0, 0, 0);
    display: block;
}

label {
    margin-bottom: .8rem;
    text-align: center;
    display: block;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: large;
    font-weight: bolder;
    text-shadow: 0 0 1px black;
}

.form-control {
    border: none;
    background: white;
    border-bottom: 3px solid rgb(0, 0, 0);
    transition: border-color .4s ease-out;
    border-radius: 20px;
    height: 3rem;
    text-align: center;
}

.form-control:active,
.form-control:focus,
.btn.focus,
.btn:focus {
    outline: none;
    box-shadow: none;
    border-color: black;
}

.form-control+small {
    color: red;
    opacity: 0%;
    height: 0;
    transition: opacity .5s ease-out;
    font-weight: bold;
    font-size: medium;
    text-shadow: 0 0 1px black;
    margin-bottom: 45px;
    text-align: center;
    padding-left: 5px;
}

.form-control.invalid+small {
    opacity: 1;
    height: auto;
    margin-bottom: 20px;
    transition: opacity .5s ease-out;
    text-shadow: 0 0 1px black;
}

.titulo {
    margin-top: -10rem;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 1px black;
}

#textBox {
    text-align: justify;
}

#btninicio {
    color: #2fb4cc;
    background-color: white;
}

#btninicio:hover {
    background-color: lightgreen;
    color: black;
}

@media (max-width: 991px) {
    .titulo {
        font-size: 160%;
    }
    .n3 {
        font-size: medium;
    }
    .form-control {
        font-size: medium;
    }
    .btn {
        font-size: medium;
        width: fit-content;
    }
    .container {
        width: fit-content;
    }
}

@media (max-width: 500px) {
    .titulo {
        font-size: small;
    }
    .n3 {
        font-size: x-small;
    }
    .form-control {
        font-size: x-small;
    }
    .btn {
        font-size: x-small;
        width: fit-content;
    }
}