 #catalogo {
     color: white;
 }
 
 #contactanos {
     color: white;
 }
 
 #nosotros {
     color: white;
 }
 #personaliza{
    color: white;
 }
 #iniciarRegistro {
    margin-left: 10px;
    
     color: white;
 }
 
 #iniciar {
     color: white;
 }
 
 #registro {
     color: white;
 }

 
 .nav-item {
     font-size: larger;
     font-weight: bold;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     text-shadow: 0 0 1px black;
     border-radius: 10px;
     margin: 15px;
     display: flex;
     justify-content: center;
     border:solid thin;
 }
 
 .nav-item:hover {
     color: rgba(11, 55, 66, 0.432);
     box-shadow: -7px 7px 0px;
 }
 .dropdown-menu{
    border-radius: 10px;
 }
 .dropdown-item:hover {
     background-color: rgba(15, 63, 66, 0.438);
 }
 
 .dropdown-item {
     font-size: larger;
     font-weight: bold;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     text-shadow: 0 0 1px black;
     border-radius: 10px;
     justify-content: center;
 }
 
 .navbar {
     box-shadow: -.1px 5px;
     width: 100%;
 }
 
 @media (max-width: 991px) {
     .dropdown-item {
         font-size: medium;
     }
     .nav-link {
         font-size: medium;
     }
     .dropdown-item:hover .nav-item:hover .nav-item .navbar .facet_sidebar {
         display: none;
     }
 }
 
 @media (max-width: 500px) {
     .dropdown-item {
         font-size: x-small;
     }
     .nav-link {
         font-size: x-small;
     }
     .dropdown-item:hover .nav-item:hover .nav-item .navbar .facet_sidebar {
         display: none;
     }
 }