

.row{
    margin-left:18%;
    margin-right: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.row2{
    margin-left:38%;
    margin-right: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.featurette{
    max-height: 240px;

}
.card{
    background-color: #4A95FE;
    box-shadow: -10px 10px ;
    
}
@keyframes example {
    from {background-color:#4A95FE;}
    to {background-color: #FF0300;}

  }
.card:hover{
    background-color: #FF0300;
    transition-delay: 500ms;

    animation-name: example;
    animation-duration: .5s;
    animation-iteration-count: 1;
    
    
    
}

.card-text{
    width: 250px;
    height: 100px;
    overflow: auto;
    text-align: justify;
    color:white;
    

}
.card-img-top{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: solid;
    box-shadow: -3px 3px;
    border-color: white;
    color: black;
    margin-left: 25%;
    margin-top: 1rem;
    
}
.card-title{
    text-align: center;
    height: 50px;
    color: white;
}
.btn-primary{
    margin-left: 30%;
    box-shadow: -5px 5px;
    color: black;
}
.lead{
    font-size: large;
    width: 600px;
}

@media (max-width:1050px) {
  
    .lead{
        font-size: medium;
        width: 300px;
    }
}
@media (max-width:770px) {

    .row2{
        margin-left:23%;
        margin-right: 3%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .row{
        margin-left:18%;
        margin-right: 3%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
  
    .lead{
        font-size: small;
    }
}

@media (max-width:400px) {
    .row2{
        margin-left:8%;
        margin-right: 3%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .row{
        margin-left:8%;
        margin-right: 3%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .lead{
        font-size: smaller;
        width: 250px;
    }
}