.row {
    margin-left: 18%;
    margin-right: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: justify;
}

.carousel {
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #f34747 100%);
}

.row2 {
    margin-left: 38%;
    margin-right: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.featurette {
    max-height: 240px;
}

.card {
    box-shadow: -10px 10px;
    background-color: #0096FF;
    box-shadow: -10px 10px white;
}

@keyframes example {
    from {
        background-color: #0096FF;
    }
    to {
        background-color: #f34747;
    }
}

.card:hover {
    background-color: #f34747;
    transition-delay: 500ms;
    animation-name: example;
    animation-duration: .5s;
    animation-iteration-count: 1;
}

.card-text {
    width: 250px;
    height: 100px;
    overflow: auto;
    text-align: justify;
    color: white;
    text-align: justify;
}

.card-img-top {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: solid;
    box-shadow: -3px 3px;
    border-color: white;
    color: white;
    margin-left: 25%;
    margin-top: 1rem;
}

.card-title {
    text-align: center;
    height: 50px;
    color: white;
    text-align: center;
}

.featurette-heading {
    text-align: left;
}

.btn-primary {
    margin-bottom: auto;
    box-shadow: -5px 5px;
    color: white;
}

.lead {
    font-size: large;
    width: 600px;
}

@media (max-width:1050px) {
    .lead {
        font-size: medium;
        width: 300px;
    }
}

@media (max-width:991px) {
    .row2 {
        margin-left: 23%;
        margin-right: 3%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .row {
        margin-left: 18%;
        margin-right: 3%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .lead {
        font-size: small;
    }
    .featurette-heading {
        font-size: x-large;
        text-align: left;
    }
    .text-muted {
        font-size: large;
    }
}

@media (max-width:500px) {
    .row2 {
        margin-left: 8%;
        margin-right: 3%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .row {
        margin-left: 8%;
        margin-right: 3%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .lead {
        font-size: smaller;
        width: 250px;
    }
    .featurette-heading {
        font-size: medium;
    }
    .text-muted {
        font-size: x-small;
    }
}