body {
    background-color: #0096FF;
}

.container {
    background-color: #4A95FE;
    margin: 50px;
    padding: 8rem;
    border-radius: 30px;
    border: solid;
    box-shadow: -25px 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.btn {
    background-color: whitesmoke; 
    color:#0096FF;
    border-radius: 10px;
    justify-content: flex-end;
    margin-left: 40%;
    margin-top: 15px;
    width: 200px;
    box-shadow: -5px 5px;
    border-bottom: 3px solid rgb(0, 0, 0);
    display: block;
}
.btn:hover{
    background-color: lightgreen;
    color: black;
}

label {
    margin-bottom: .8rem;
    text-align: center;
    display: block;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: large;
    font-weight: bolder;
    text-shadow: 0 0 1px black;
}

.form-control {
    border: none;
    background: white;
    border-bottom: 3px solid rgb(0, 0, 0);
    transition: border-color .4s ease-out;
    border-radius: 30px;
    height: 3rem;
    text-align: center;
}

.form-control:active,
.form-control:focus,
.btn.focus,
.btn:focus {
    outline: none;
    box-shadow: none;
    border-color: black;
}

.form-control+small {
    color: red;
    opacity: 0%;
    height: 0;
    transition: opacity .5s ease-out;
    font-weight: bold;
    font-size: medium;
    text-shadow: 0 0 1px black;
    margin-bottom: 45px;
    text-align: center;
    padding-left: 5px;
}

.form-control.invalid+small {
    opacity: 1;
    height: auto;
    margin-bottom: 20px;
    transition: opacity .5s ease-out;
    text-shadow: 0 0 1px black;
}


.titulo {
    margin-top: -10rem;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 1px black;
}

#textBox {
    text-align: justify;
   
}